.popup-wrapper {
    --size: 320px;
    --halfSize: calc(var(--size) / 2);
    position: fixed;
    top: calc(50dvh - var(--halfSize));
    left: calc(50% - var(--halfSize));
    background-color: var(--white);
    max-width:var(--size);
    width: 100%;
}